<div class="navbar_coffee_container">
  <h3 class="navbar_coffee_header">Coffee Spotlist</h3>
    <div class="row">
      <div class="navbar_link_container">
        <div class="col-xs-12 col-sm-4 no_row_padding">
          <div class="navbar_coffee_text_left coffee_link">
            <a href="coffees" class="coffee_link_a">Our Coffees</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 no_row_padding">
          <div class="navbar_coffee_text_center coffee_link">
            <a href="" class="coffee_link_a">Your Contracts</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 no_row_padding">
          <div class="navbar_coffee_text_right coffee_link">
            <%= link_to "#{current_order.order_items.size} bags in Cart", cart_path, class: "coffee_link_a" %>
          </div>
        </div>
      </div>
    </div>
</div>

