<h3 class="text-center">Current Spotlist of Coffees</h3>


<div class="spotlist">
  <% @coffees.each do |coffee| %>
    <%= render "coffee_row", coffee: coffee, order_item: @order_item %>
  <% end %>
</div>

<!--<% @coffees.each do |coffee| %>
  <p><%= coffee.bags %></p>
<% end %>

<a class="button-learn-more" href="/coffees/new">New Coffee</a>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= link_to "My Store", coffees_path %></h1>
    </div>
    <div class="col-xs-6 text-right">
    </div>
  </div>
  <hr>
</div>
-->
