<div class="coffee-show-header-container">
  <h5 class="farm-discription-headers">The Gallery</h5>
</div>
<div class="scroll-container flex overflow-auto scroll-smoothly no-scrollbar">
  <div class="flex-none">
    <div class="al1 l1st shadow grow-img-coffee"></div>
  </div>
   <div class="flex-none">
    <div class="al2 rr shadow grow-img-coffee"></div>
  </div>
  <div class="flex-none">
    <div class="al3 rr shadow grow-img-coffee"></div>
  </div>
  <div class="flex-none">
    <div class="al4 rr shadow grow-img-coffee"></div>
  </div>
  <div class="flex-none">
    <div class="al5 rr shadow grow-img-coffee"></div>
  </div>
  <div class="flex-none">
    <div class="al6 rr shadow grow-img-coffee"></div>
  </div>
  <div class="flex-none">
    <div class="al7 r1st rr shadow grow-img-coffee"></div>
  </div>
</div>
