<div class="scroll-container flex overflow-auto scroll-smoothly no-scrollbar">
  <div class="flex-none">
    <div class="al1 l1st"></div>
  </div>
   <div class="flex-none">
    <div class="al2 rr"></div>
  </div>
  <div class="flex-none">
    <div class="al3 rr"></div>
  </div>
  <div class="flex-none">
    <div class="al4 rr"></div>
  </div>
  <div class="flex-none">
    <div class="al5 rr"></div>
  </div>
  <div class="flex-none">
    <div class="al6 rr"></div>
  </div>
  <div class="flex-none">
    <div class="al7 r1st rr"></div>
  </div>



</div>
