<div class="farm_image_section">
  <div class="row">
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al1"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al2"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al3"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al4"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al5"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al6"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al7"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al8"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al9"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al10"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al11"></div>
    </div>
    <div class="col-md-2 col-xs-4 img_farm">
      <div class="al12"></div>
    </div>
  </div>
</div>
