<div class="container-text-content">
  <div class="text_below_carousel_basics padding-top-none">
    <div class="text-padding-ocafi ">
      <h5 class="farm-discription-headers">The Farm</h5>
      <p class="blocksatz">The history of Santa Alina Estate goes back to 1907, the year it was acquired by the Silva Dias family. At the time the property already had coffee, an activity that was improved over the years by the heirs that dedicated themselves to coffee production. Santa Alina is located in the city of São Sebastião da Grama, a municipality in São Paulo state close to the southern part of Minas Gerais, at 3,300 feet of altitude, a region with abundant sunlight during the day and mild temperatures at night.

      Santa Alina is currently managed by Tuca Dias, the 4rd generation of the family, and 700 acres are cultivated with coffee, being a reference in the production of specialty coffees.

      The varieties that you can find in Santa Alina are: mostly Yellow Bourbon, but also Mundo Novo, Red Bourbon, Catuaí 2SL, Yellow Catuaí 62, Red Catuaí 144. All of them, with distinguished features that cater to demanding buyers all over the world.

      In the pictures you can find the owner, Tuca Dias. She is an unique figure, very funny and always excited about meeting people and sharing passions like arts, coffee and more people.
      </p>
    </div>
  </div>
</div>

