<div class="banner banner-misson">
  <div class="image-mission-vision">
    <div class="banner-text">
      <h3>Vision</h3>
      <p>Wir wollen das globale Bewusstsein für eine ethische Landwirtschaft erweitern und das Interesse für hochwertige Spezialitätenkaffees wecken, um auf die Weise zukunftsträchtige Handelspraktiken zu etablieren und die Umwelt nachhaltig zu schützen.</p>
    </div>
  </div>
</div>

