<div class="image_wrapper">
  <div class="container-coffee">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card-mission">

          <div class="size-img mission-img">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <div class="image-mission">
                    <%= render 'shared/mission_vision/svgs/magnifier' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mission-text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee padding-adjusted">
                <div class="items-center card-coffee-text">
                  <h4>Transparent</h4>
                  <span class="spacing-bottom">________</span>
                  <p>Unsere Kaffee auf möglichst transparenten Wegen zu Handeln und über jeden der Kaffees eine Geschichte erzählen zu können.
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card-mission">

          <div class="size-img mission-img">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <div class="image-mission">
                    <%= render 'shared/mission_vision/svgs/boat' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mission-text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee padding-adjusted">
                <div class="items-center card-coffee-text">
                  <h4>Direkt</h4>
                  <span class="spacing-bottom">________</span>
                  <p>Kaffees direkt von unseren partner und eigenen Farms an unsere Kunden zu liefern um eine konsistente Qualität zu gewährleisten zu können.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card-mission">

          <div class="size-img mission-img">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee ">
                <div class="items-center">
                  <div class="image-mission">
                    <%= render 'shared/mission_vision/svgs/bean' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mission-text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee padding-adjusted">
                <div class="items-center card-coffee-text">
                  <h4>Brasilien</h4>
                  <span class="spacing-bottom">________</span>
                  <p>Brasiliens Ruf als Massenproduzent zu verbessern und „Brazilian Specialty“ weltweit an Kaffeeliebhabern zu liefern.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

