<div class="image_wrapper">
  <div class="container-coffee">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card-mission">

          <div class="size-img mission-img">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <div class="image-mission">
                    <%= render 'shared/mission_vision/svgs/magnifier' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center card-coffee-text">
                  <h4>Transparent</h4>
                  <span class="spacing-bottom">________</span>
                  <p>Deliver our coffees in the most transparent way, telling a unique story about each of them.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card-mission">

          <div class="size-img mission-img">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <div class="image-mission">
                    <%= render 'shared/mission_vision/svgs/boat' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center card-coffee-text">
                  <h4>Direct</h4>
                  <span class="spacing-bottom">________</span>
                  <p>Trade coffees directly from our farms and partners to your roastery with consistent quality.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card-mission">

          <div class="size-img mission-img">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <div class="image-mission">
                    <%= render 'shared/mission_vision/svgs/bean' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center card-coffee-text">
                  <h4>Service</h4>
                  <span class="spacing-bottom">________</span>
                  <p>Tell the stories behind the coffees and introducing you to some of the finest Brasilien coffees.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

