<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi mission-header">
      <h3 >Mission</h3>
      <p>Our mission is our goal</p>
      <span class="spacing-bottom">_________________</span>
      <p class="add-margin-top">To serve our customers the best available Brasilian coffees in a fair and transparent way.</p>
    </div>
  </div>
</div>
