<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi mission-header">
      <h3 >Mission</h3>
      <p>Unsere Mission ist unser Zielt</p>
      <span class="spacing-bottom">_________________</span>
      <p class="add-margin-top">Wir wollen das Genuserleben eines perfekten brasilianischen Spezialitätenkaffees steigern indem wir einen gerechten und fairen Kafeehandel fördern und durch eine transparente und nachhaltige Wertschöpfungskette die Beziehungen zwischen Röstern und Bauern vertiefen.</p>
    </div>
  </div>
</div>
