<div class="banner">
  <div class="image-about-us">
    <div class="banner-text">
        <h3><%= @farmers.farm_name %></h3>
        <p><%= @farmers.first_name %> <%= @farmers.last_name %></p>
    </div>
  </div>
</div>
