<div class="container-text-content">
  <div class="text_below_carousel_basics padding-top-none">
    <div class="text-padding-ocafi ">
      <h5 class="farm-discription-headers">The Farm</h5>
      <p class="blocksatz"> <%= @farmers.long_description %>
      </p>
    </div>
  </div>
</div>
