<div class="order_now_basics row">
  <div class="col-sm-8 order_now_text_part order_now_farmer">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <span class="heading-order-now-footer">Interested in <%= @farmers.first_name %>'s coffee? </span> <br>
      </div>
    </div>
  </div>
  <div class="col-sm-4 order_now_button_part">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <div class="order-button order-button-grow">
          <a href="/coffees">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
