<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi">
      <h4 class="farm-header"><%= @farmers.farm_name %></h4>
      <p><%= @farmers.short_description %></p>
    </div>
  </div>
</div>

