<div class="follow_us_basics">
  <div class="follow_us_section row">

    <form action="newsletters" method="post" path="newsletters">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      Email:<input type="text" name="email">
      <input type="submit" value="Submit">
    </form>

    </div>
  </div>
</div>
