<div class="footer">
  <div class="footer-links">
    <a href="">Terms of Supply</a>
  </div>
  <div class="footer-links">
    <a href="">Terms of Purchase</a>
  </div>
  <div class="footer-links">
    <a href="">Privacy Policy</a>
  </div>
</div>
