<div class="footer">
  <div class="footer-links">
    <a href="/impressum">Impressum</a>
  </div>
  <div class="footer-links">
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
  <div class="footer-links">
    <a href="/general-terms-of-trade">Terms of Trade</a>
  </div>
</div>
