<div class="footer">
  <div class="footer-links">
    <a href="/general-terms-conditions-supply">Terms of Supply</a>
  </div>
  <div class="footer-links">
    <a href="/general-terms-conditions-purchase">Terms of Purchase</a>
  </div>
  <div class="footer-links">
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
</div>
