<div class="footer">
  <div class="footer-links">
    <a href="/impressum">Impressum</a>
  </div>
  <div class="footer-links">
    <a href="/privacy-policy">Datenschutz</a>
  </div>
  <div class="footer-links">
    <a href="/general-terms-of-trade">Lieferbedingungen</a>
  </div>
</div>
