<div class="image_wrapper">

  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 image_home">
        <div class="style_first_image first"></div>
      </div>

      <div class=" col-md-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">Mission & Vision</h3>
            <p class="subheading-margins">FAIR - TRANSPARENT - NACHHALTIG</p>
              <span class="spacing-bottom">_________</span>
            <p>In Zusammenarbeiten mit den Farmern in Brasilien bauen wir nachhaltige Handels- und Anbaupraktiken auf um Ihnen faire, qualitative hochwertige Spezialitätenkaffees zu liefern.
            </p>
            <div class="fill">
              <button class="fill">
                <div class="button-vertical-align-wrap">
                  <div class="button-link button-veritcal-align button-veritcal-align-middle">
                    <a href="/mission-vision">Mehr Erfahren</a>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 col-md-push-6 content_home">
        <div class="style_second_image"></div>
      </div>
      <div class="col-md-6 col-md-pull-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">Die Farmer</h3>
            <p class="subheading-margins">BRAZILIAN - SPECIALTY</p>
            <span class="spacing-bottom">_________</span>
            <p>Erfahren Sie mehr über unsere Kaffees und bestellen Sie direkt online über Ocafi's Spotlist.
            </p>
            <div class="fill">
              <button class="fill">
                <div class="button-vertical-align-wrap">
                  <div class="button-link button-veritcal-align button-veritcal-align-middle">
                    <a href="/farmers">Mehr Erfahren</a>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 image_home">
        <div class="style_third_image"></div>
      </div>
      <div class="col-md-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">Das Team</h3>
            <p class="subheading-margins">MOTIVIERTE - DYNAMISCHE - KAFFEEFANATIKER</p>
            <span class="spacing-bottom">_________</span>
            <p>Als brasilianisch-deutsches Team haben wir durchgängig auf zwei Kontinenten kontakt zu unseren Partnern, den Farmern und unseren Kunden, den Röstern.
            </p>
            <div class="fill">
              <button class="fill">
                <div class="button-vertical-align-wrap">
                  <div class="button-link button-veritcal-align button-veritcal-align-middle">
                    <a href="/about-us">Mehr Erfahren</a>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
