<div class="image_wrapper">

  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 image_home">
        <div class="style_first_image first"></div>
      </div>
      <div class=" col-md-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">Mission & Vision</h3>
            <h4>Fair-Tracable-Telling a Story</h4>
            <p>Offer your customers the best
              Brazilian coffees’. We work
              closely with our farmers to
              provide you the best tast profiles
              in fair, traceble coffees that tell
              a story.
            </p>
            <div class="fill">
              <button class="fill">
                <div class="button-vertical-align-wrap">
                  <div class="button-link button-veritcal-align button-veritcal-align-middle">
                    <a href="/mission-vision">Learn more</a>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 col-md-push-6 content_home">
        <div class="style_second_image"></div>
      </div>
      <div class="col-md-6 col-md-pull-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">Our Coffees</h3>
            <h4>Brazil Specialty - Single Estate</h4>
            <p>Find out more about our
              coffees and buy directly
              through our shop - online.
            </p>
            <div class="fill">
              <button class="fill">
                <div class="button-vertical-align-wrap">
                  <div class="button-link button-veritcal-align button-veritcal-align-middle">
                    <a href="/farmers">Learn more</a>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 image_home">
        <div class="style_third_image"></div>
      </div>
      <div class="col-md-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">The Team</h3>
            <h4>Young - Cool - Awesome</h4>
            <p>Add a short descriptive but
              catching text about us and our
              background here.
            </p>
            <div class="fill">
              <button class="fill">
                <div class="button-vertical-align-wrap">
                  <div class="button-link button-veritcal-align button-veritcal-align-middle">
                    <a href="/about-us">Learn more</a>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
