<div class="order_now_basics row">
  <div class="col-sm-8 order_now_text_part height-text-order-now">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <span class="heading-order-now-footer heading-order-now-home">Take a look at our Spotlist and order online.</span> <br>
        <span class="text-order-now-home">We offer some of the finest brazilian specialty coffees with a variety of cup and taste profiles. Directly traded from our partners in Brazil to your coffee shop, we can promise transparent and fair trading praticeses.</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 order_now_button_part height-button-order-now">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <div class="order-button order-button-grow">
          <a href="/coffees">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
