<div class="order_now_basics row">
  <div class="col-sm-8 order_now_text_part height-text-order-now">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <span class="heading-order-now-footer heading-order-now-home">Besuchen Sie unsere Spotlist und bestellen Sie online</span> <br>
        <span class="text-order-now-home">Direkt gehandelt von Farmen in Brasilien, können wir transparente und faire Handelspraktiken garantieren.</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 order_now_button_part height-button-order-now">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <div class="order-button order-button-grow">
          <a href="/coffees">Jetzt Bestellen</a>
        </div>
      </div>
    </div>
  </div>
</div>
