<div class="order_now_basics row">
  <div class="col-sm-8 order_now_text_part">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <p>Looking for something specific? Take a look at our Spotlist, where you will find some of the finest brazilian specialty coffees.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 order_now_button_part">
    <div class="vertically_align_order_now_content_wrap">
      <div class="vertically_align_order_now_content vertically_align_order_now_content_middle">
        <div class="order-button order-button-grow">
          <a href="/coffees">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
