<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi">
      <h3>Ocafi Trading</h3>
      <h1>Specialty Coffee Enthusiasts</h1>
      <p>Ocafi handelt mit den besten brasilianischen Spezialitätenkaffees in Deutschland und Europa. Vertreten sowohl in Brasilien als auch in Deutschland, versuchen wir die besten Kaffees ausfindig zu machen und zu importieren. Hierbei arbeiten wir eng mit den Farmern vor Ort zusammen</p>
    </div>
  </div>
</div>

