<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi">
      <h3>Ocafi Trading</h3>
      <h1>Speciality Coffee Enthusiasts</h1>
      <p>Ocafi handelt mit den besten brasilianischen Spezialitäten Kaffees in Deutschland und Europa. Vertreten in sowohl Brasilien als auch Deutschland versuchen wir die besten Kaffees ausfindig zu machen, mit den Farmern vor Ort eng zusammen zu arbeiten und die besten Kaffees zu importieren.</p>
    </div>
  </div>
</div>

