<div class="image_wrapper">
  <div class="container-coffee">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card">
          <div class="image-part1">

          </div>
          <div class="text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <h4>Luis Paulo</h4>
                  <h4>Fazenda Mattao</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card">
          <div class="image-part2">

          </div>
          <div class="text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <h4>Luis Paulo</h4>
                  <h4>Fazenda Mattao</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card">
          <div class="image-part3">

          </div>
          <div class="text-part">
            <div class="vertical-align-wrap-coffee">
              <div class="vertical-align-coffee vertical-align--middle-coffee">
                <div class="items-center">
                  <h4>Luis Paulo</h4>
                  <h4>Fazenda Mattao</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!--<div class="image_wrapper-our-coffees">
  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-4 image_home_our_coffees coffee-right">
        <div class="card">
          <div class="style_first_image first"></div>
          <h1>Go</h1>
        </div>
      </div>
      <div class="col-md-4 image_home_our_coffees">
        <div class="card">
          <div class="style_first_image first"></div>
          <h1>Go2</h1>
        </div>
      </div>
      <div class="col-md-4 image_home_our_coffees coffee-left">
        <div class="card">
          <div class="style_first_image first"></div>
          <h1>Go3</h1>
        </div>
      </div>
    </div>
  </div>
</div>

-->
