<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi">
      <h2>Die Farmer</h2>
      <p>Speciality Brazil - Single Estate. <br>
        Unsere Farmer sind in jeder Weise speziell. Der nachhaltigen Landwirtschaft verschrieben bauen alle drei einige der besten Spezialitätenkaffees der Mogiana Region an.
      </p>
    </div>
  </div>
</div>

