.cart_wrapper {
  min-height: 400px;
}

.text-of-message-position {
  padding: 0px 15% 0px 15%;

  @media (max-width: 750px) {
    padding: 0px 10% 0px 10%;
  }

  @media (max-width: 440px) {
    padding: 0px 5% 0px 5%;
  }
}
