<div class="legal-wrapper">
<h2>Allgemeine Lieferbedingungen</h2>

<h3>1.  Anwendbarkeit</h3>
<p>1.1.  Die Allgemeinen Lieferbedingungen (nachstehend als „Bedingungen“ bezeichnet) gelten für alle Angebote, Verträge und Dienstleistungen der Ocafi GmbH und alle mit der Ocafi GmbH (nachstehend als „Ocafi“ bezeichnet) verbundenen Rechtspersonen.</p>

<h3>2.  Gebote/ Angebote</h3>
<p>2.1.  Jedes von Ocafi abgegebene Gebot oder Angebot ist für Ocafi stets unverbindlich, auch wenn dieses Gebot oder Angebot eine Annahmefrist enthält, sofern und soweit nicht ausdrücklich von Ocafi schriftlich etwas anderes bestimmt wird.</p>

<h3>3.  Abschluss eines Vertrages</h3>
<p>3.1.  Ein Vertrag mit Ocafi kommt zustande, wenn Ocafi schriftlich die Annahme eines Auftrags oder einer Bestellung bestätigt. Umfang und Inhalt des Vertrages sind in der schriftlichen Bestätigung von Ocafi angegeben.</p>

<h3>4.  Samples / Proben</h3>
<p>4.1.  Wenn Ocafi einer Vertragspartei ein Sample zur Verfügung gestellt hat, ist die Gegenpartei berechtigt, das von Ocafi zur Verfügung gestellte Sample ohne Angabe von Gründen abzulehnen.</p>

<h3>5.  Anforderungen und Garantien</h3>
<p>5.1.  Ocafi garantiert nicht, dass die Waren für den beabsichtigten Gebrauch oder auf andere Weise geeignet sind, es sei denn, es wurde ausdrücklich schriftlich vereinbart, dass die Waren für den beschriebenen Verwendungszweck geeignet sein müssen. Der Vertragspartner ist dann verpflichtet, ausdrücklich anzugeben, für welchen Verwendungszweck die Ware beabsichtigt ist.</p>
<p>5.2.  Ocafi ist nicht verpflichtet, weitergehende Garantien zu geben, als ausdrücklich zwischen den Parteien schriftlich als solche vereinbart wurden</p>

<h3>6.  Sicherheit</h3>
<p>6.1 Ocafi kann vom Vertragspartner verlangen, dass er während des Vertrags jederzeit Sicherheiten oder zusätzliche Sicherheiten für die Zahlung bietet. Wenn der Vertragspartner einer angemessenen Anfrage nicht nachkommt, ist Ocafi berechtigt, die Erfüllung seiner Verpflichtungen auszusetzen, bis der Vertragspartner die erforderliche Sicherheit gestellt hat.</p>

<h3>7.  Dritt Parteien</h3>
<p>7.1.  Ocafi kann Dritte in die Vertragsabwicklung einbeziehen. Die damit verbundenen Kosten werden dem Kontrahenten auf faire und angemessene Weise in Rechnung gestellt.</p>

<h3>8.  Reihenfolge der Erfüllung der Verträge</h3>
<p>8.1.  Wenn zwischen dem Vertragspartner und Ocafi mehrere Verträge für ein und dasselbe Produkt zu gleichen Versand- und Lieferbedingungen geschlossen wurde, müssen diese Verträge in der Reihenfolge ihres Abschlusses und unter Einhaltung der vereinbarten Versand- und Lieferfrist erfüllt werden, sofern nicht ausdrücklich schriftlich etwas anderes vereinbart wurde.</p>

<h3>9.  Präsentation der Dokumentation</h3>
<p>9.1.  Ocafi wird dem Vertragspartner die Dokumente so schnell wie möglich vorlegen.</p>
<p>9.2.  Wenn Ocafi nachweisen kann, das ihm die Dokumente aufgrund von Fahrlässigkeit der Post, der Bank oder durch (andere) Umstände außerhalb seines Einflussbereichs zu spät vorgelegt wurden oder bei ihm zu spät sind und er unverzüglich alle erforderlichen Schritte unternommen hat, um in Besitz der Dokumente zu kommen um sie dem Vertragspartner zur Verfügung zu stellen, kann Ocafi nicht für Ausgaben und / oder Schäden haftbar gemacht werden, die durch die Verspätung der Dokumente entstanden sind.</p>
<p>9.3.  Der Vertragspartner ist nicht berechtigt, Änderungen von untergeordneter Bedeutung in Bezug auf Versand, Kennzeichnung und Anzahl der Packstücke oder in Bezug auf die Beförderungsmittel zu widersprechen, solange die Sendung bei Ankunft als die Sendung aus der Vertrag Vereinbarung erkannt werden kann.</p>

<h3>10. Risiko</h3>
<p>10.1. Alle Risiken in Bezug auf die Waren gehen zu Lasten des Vertragspartners: Bei ab lager verkauften Waren (FoT / Free on Truck) sind diese ab dem Zeitpunkt, an dem sie zugunsten des Vertragspartners voneinander getrennt sind, und bei anderen Waren ab dem Zeitpunkt, zu dem dieses Waren für Ihren Transport geladen werden, sofern und soweit nichts anderes schriftlich vereinbart ist.</p>

<h3>11. Versand, Lieferung und Lieferzeit</h3>
<p>11.1. Ocafi ist berechtigt, in Raten zu liefern, wobei diese Raten separat in Rechnung gestellt werden können.</p>
<p>11.2. Ocafi wird sich bemühen, die Lieferfrist soweit wie möglich einzuhalten, haftet jedoch niemals für deren Überschreitung.</p>
<p>11.3. Das Überschreiten der Lieferfrist berechtigt den Vertragspartner weder zum Rücktritt vom Vertrag noch zur Ablehnung der Annahme von Waren. Bei Lieferung mit gleichem Abstand kann eine Verzögerung der Lieferung eines Teils der Ware dem Vertragspartner weder das Recht zum Rücktritt vom Vertrag geben noch die kann er die Annahme der Ware verweigern. Im Falle einer übermäßigen der Lieferrist werden die Parteien sich gegenseitig beraten.</p>
<p>11.4. Wenn Ocafi die Verantwortung für die Beförderung der Waren vom Entladeort übernommen hat, muss der Vertragspartner Ocafi rechtzeitig Anweisung bezüglich Beförderung und Bestimmungsort erteilen. Wenn Ocafi bei Eintreffen der Waren keine Versandanweisungen von der Vertragspartei erhalten hat, versendet Ocafi die Waren an die Adresse der Vertragspartei mit den für ihren Zweck geeignetsten Beförderungsmitteln.</p>
<p>11.5. Der Vertragspartner muss die Ware unverzüglich nach Erhalt der Versandbereitschaft von Ocafi annehmen. Wenn der Vertragspartner die Ware nicht rechtzeitig entgegennimmt, ist Ocafi berechtigt, alle hieraus entstehenden Schäden und / oder Kosten geltend zu machen, einschließlich Lagerkosten, Finanzierungskosten und Kosten für den Qualitätsverlust der Waren.</p>

<h3>12. Höhere Gewalt</h3>
<p>12.1. Wenn Ocafi durch höhere Gewalt daran gehindert wird, eine Verpflichtung zu erfüllen, und die Bedingungen für höhere Gewalt nach Auffassung von Ocafi vorübergehender Natur sind, ist Ocafi dann berechtigt, die Erfüllung seiner Verpflichtungen bis zu der Auflösung der Situation, dem Grund oder dem Ereignis, das zu höheren Gewalt geführt hat, zu verschieben.</p>
<p>12.2. Wenn die Situation der höheren Gewalt länger als 30 Kalander tage andauert, haben Ocafi und der Vertragspartner das Recht, den Vertrag zu kündigen.</p>
<p>12.3. Eine Situation höherer Gewalt besteht unter anderem aus folgenden Gründen: Streiks; Arbeitsunterbrechungen; staatliche Maßnahmen und / oder Vorschriften, die die Erfüllung von Verpflichtungen verhindern, verzögern oder auf andere Weise beeinträchtigen; Mangel an Transportmittel, die nicht zugänglich oder unbrauchbar sind; Unterbrechung der Versorgung mit Energie, Rohstoffen, Betriebsstoffen oder Endprodukten; technischen Ausfälle und / oder Mängel.</p>
<p>12.4. Die Zusammenfassung in Artikel 12.3 ist nicht einschränkend.</p>
<p>12.5. Wenn Ocafi infolge höherer Gewalt an der Erfüllung seiner Pflichten gegenüber einem oder mehreren seiner Kunden oder Vertragspartnern, nicht jedoch an seinen sämtlichen Kunden oder Kontrahenten gehindert wird, ist Ocafi berechtigt, seine Pflichten/ Bestellung und Vertragspartner auszuwählen, die durchgeführt werden können.</p>
<p>12.6. Ocafi hat das Recht, die Zahlung für alles zu verlangen, das von Ocafi oder im namen von Ocafi zur Erfüllung des Vertrags mit dem Vertragspartner von Eintritt des Ereignisses höherer Gewalt ausgeführt wurde.</p>
<p>12.7. Sollte die Erfüllung des Vertrages zu erhöhten Kosten möglich sein und der Vertragspartner dies wünschen, werden die zusätzlichen Kosten vom Vertragspartner getragen.</p>

<h3>13. Haftung</h3>
<p>13.1. Jegliche Haftung von Ocafi, ob unter Vertrag oder aus unerlaubter Handlung, beschränkt sich auf die Verpflichtung zur vertragsgemäßen Leistung oder nach Wahl von Ocafi die Erstattung des Betrags, der für die betreffenden Leistung vereinbart wurde, oder die Leistung, die mit den Schaden verursacht Ereignis verbunden ist.</p>
<p>13.2. Die Vertragspartei hält Ocafi von allen Ansprüchen frei, die Dritte gegen Ocafi erwerben oder geltend machen sollten und die sich direkt oder indirekt aus dem Vertrag ergeben oder mit ihm in Zusammenhang stehen, sofern der Vertragspartner nicht den Schaden nachweist / oder den Verlust verursacht.</p>
<p>13.3. Ocafi haftet niemals für die Kosten für die Zerstörung von Waren, Folgeschäden, Verlust, Einkommensausfall oder Nutzungsausfall der Vertragspartei.</p>

<h3>14. Reklamation / Beschwerden</h3>
<p>14.1. Wenn der Vertragspartner der Auffassung ist, dass Ocafi seine vertraglichen Verpflichtungen nicht erfüllt hat, muss Ocafi hiervon schriftlich unter Angabe von Gründen innerhalb von 72 Stunden nach Lieferung der Ware unterrichtet werden. Die Vertragspartei muss einen Nachweis an Ocafi schicken, aus dem die angeblichen Mängel hervorgehen.</p>
<p>14.2. Wenn Ocafi eine Beschwerde für begründet hält, hat sie das Recht, nach ihrer Wahl die vereinbarte Leistung zu erbringen oder höchstens den für die jeweilige Leistung vereinbarten betrag zu erstatten, wobei der Vertragspartner verflicht ist, die Waren an Ocafi zurückzugeben.</p>
<p>14.3. Reklamationen bezüglich Rechnungen müssen innerhalb von acht Tagen nach Rechnungsdatum schriftlich bei Ocafi eingereicht werden.</p>
<p>14.4. Wird eine Beschwerde nicht innerhalb der in diesem Artikel festgelegten Frist oder nicht auf die vorgeschriebene Weise eingereicht, so gilt die gelieferte Ware als vollständig und unwiderruflich als von Vertragspartei angenommen und als Vertragserfüllung genehmigt. Eine Rechnung, die nicht in der vorgeschriebenen Art und Weise und innerhalb der festgelegten Frist angefochten wird, gilt als unwiderruflich akzeptiert und wird von der Vertragspartei genehmigt.</p>
<p>14.5. Eine Beschwerde befreit den Vertragspartner niemals von seinen Verpflichtungen gegenüber Ocafi.</p>

<h3>15. Eigentumsvorbehalt</h3>
<p>15.1. Die gelieferte Ware bleibt bis zur vollständigen Bezahlung aller vom Vertragspartner geschuldeten Beträge Eigentum von Ocafi.</p>
<p>15.2. Es gilt außerdem im Sinne des Artikels 16.1 in Verbindung mit deutschem Recht, das für die Lieferung erweiterte „erweiterte Eigentumsvorbehalt“.</p>

<h3>16. Preise und Zahlung</h3>
<p>16.1. Sofern nicht schriftlich anders angegeben, sind alles Preise exklusive Umsatzsteuer.</p>
<p>16.2. Sofern nichts anderes schriftlich vereinbart ist, muss die Zahlung vom Vertragspartner geleistet werden, auch wenn die Ware währen des Transports verloren gegangen oder beschädigt wurde.</p>
<p>16.3. Wenn Zahlung bei Ankunft vereinbart wurde, muss die Zahlung sofort erfolgen, wenn das Beförderungsmittel am Bestimmungsort eintrifft. Bei einer Ankunft an einem anderen Tag als einem Arbeitstag muss die Zahlung am ersten Arbeitstag nach Ankunft der Beförderungsmittel am Bestimmungsort erfolgen.</p>
<p>16.4. Der Vertragspartner hat in keinem Fall Anspruch auf Skonti und / oder Aufrechnung und / oder Aussetzung seiner Verpflichtungen.</p>

<h3>17. Fahrlässigkeit, Zinsen und Kosten</h3>
<p>17.1. Der Vertragspartner kommt dann in Verzug, wenn er innerhalb der festgelegten Frist keine Zahlung leistet oder eine andere Verpflichtung erfüllt, ohne dass es einer zusätzlichen Mahnung, Vorladung oder eines Versäumnisses bedarf.</p>
<p>17.2. Der Vertragspartner trägt alle rechtlichen und nicht rechtlichen Kosten, einschließlich der Kosten von Ocafi für Rechts- und Prozesskosten.</p>

<h3>18. Kündigung von Verträgen</h3>
<p>18.1. Ocafi ist berechtigt, den Vertrag mit dem Vertragspartner unverzüglich zu kündigen, wenn (nicht einschränkend):</p>
<p>18.1.1. Der Vertragspartner eine vertragliche Verpflichtung nicht erfüllt;</p>
<p>18.1.2. Der Vertragspartner als bankrott erklärt wurde oder einen Insolvenzantrag gestellt hat;</p>
<p>18.1.3. Der Vertragspartner einen Antrag auf Zahlungseinstellung gestellt hat, die Ihm seitens Ocafi gewährt wurde;</p>
<p>18.1.4. Die Vertragspartei, wenn eine natürliche Person, verstorben ist;</p>
<p>18.1.5. Die Vertragspartei, wenn eine juristische Person, sich in der Liquidation befindet oder über die Liquidation der Vertragspartei entschieden wird;</p>
<p>18.1.6. Die Vertragspartei mit einem Dritten fusioniert oder von einem Dritten übernommen wird;</p>
<p>18.1.7. Die Vertragspartei seine Rechtsform ändert;</p>
<p>18.1.8. Die Geschäftstätigkeit der Vertragspartei sich erheblich verändert.</p>
<p>18.2  Tritt eine der in Artiel 18.1 genannten Situation ein, sind alle Forderungen von Ocafi gegenüber dem Vertragspartner vollständig zahlbar.</p>
<p>18.3  Das Recht des Vertragspartners, den Vertrag aufzulösen, ist ausgeschlossen.</p>

<h3>19. Änderungen</h3>
<p>19.1. Änderungen des Vertrages und / oder der Bedingung sind nur gültig, wenn sie schriftlich erfolgen und wenn beide Parteien der Änderung zugestimmt haben.</p>

<h3>20. Vertraulichkeit</h3>
<p>20.1. Alle Informationen über Ocafi, die nicht auf irgendeine Weise von Ocafi veröffentlicht wurden und die der Vertragspartner im Zusammenhang mit der Vereinbarung erhält, sind vertraulich und dürfen nicht an Dritte weitergegeben werden.</p>
<p>20.2. Alle Daten und Informationen, die im Rahmen eines Angebots zur Verfügung gestellt werden, verbleiben ausdrücklich im gewerblichen oder geistlichen Eigentum von Ocafi. Dem Vertragspartner ist es ausdrücklich untersagt, Material oder Daten oder Informationen auf irgendeine ohne die vorherige schriftliche Genehmigung von Ocafi offenzulegen. Die Verwendung dieses Materials und dieser Daten und Informationen muss strikt auf die interne Verwendung des Vertragspartners im Rahmen einer Bestellung bei Ocafi beschränkt bleiben.</p>

<h3>21. Anwendbares Recht</h3>
<p>21.1. Alle Rechtsbeziehungen, die sich aus oder im Zusammenhang mit dem Vertrag und / oder der Lieferung der Waren und / oder dieser Bedingungen ergeben, unterliegen ausschließlich deutschem Recht.</p>
<p>21.2. Alle Streitigkeiten, die sich aus oder im Zusammenhang mit dem Vertrag, diesen Bedingungen und / oder der Lieferung der Waren ergeben, werden ausschließlich von zuständigem Gericht in Freiburg, Deutschland, entschieden.</p>

<h3>22. Gültigkeit</h3>
<p>22.1. Sollte eine Bestimmung in diesen Bedingungen weder ganz noch teilweise gültig und / oder zwingend sein, hat dies keinerlei Auswirkungen auf die Gültigkeit der anderen Bestimmungen in diesen Bedingungen.</p>

</div>
