<div class="legal-wrapper">
<h2>Impressum</h2>

<h3>Firma</h3>
<p><span>Ocafi GmbH <br>
Weiherhofstraße 16 <br>
79104 Freiburg <br>
Deutschland</span></p>

<h3>Sitz der Gesellschaft</h3>
<p>Freiburg</p>

<h3>Geschäftsführer</h3>
<p>Luis Paulo Marquitti Guardabaxo, Niklas Kügler</p>

<h3>Gerichtsstand</h3>
<p>Amtsgericht Freiburg</p>

<h3>HRB</h3>
<p>HRB717019</p>

<h3>USt-idNr.</h3>
<p>DE314251159</p>

<h3>Haftungshinweis</h3>
<p>Trotz sorgfältiger inhaltlicher Prüfung übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten, die das Angebot dieser Domain verlassen, sind ausschließlich deren Betreiber verantwortlich.</p>

<h3>Kontakt</h3>
<p><span>Telefon +49 (0) 176 34373529 <br>
E-Mail info@ocafi.de</span></p>

<h3>Haftungsbeschränkung</h3>
<h4>1.  Haftung für Inhalte</h4>
<p>Trotz sorgfältiver Kontrolle für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte dieser Website übernehmen wir keine Gewähr und Haftung für die bereit gestellten Inhalte und Informationen, soweit gem. der gesetzlichen Bestimmungen, insbesondere gem. § 7 TMG (Telemediengesetz), zulässig. Wir sind gem. § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich; wir sind im Sinner der der §§ 8 bis 10 TMG jedoch nicht verpflichtet, die von uns übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forsche, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben auch im Falle unserer Nichtverantwortlichkeit nach den §§ 8 bis 10 TMG unberührt. Im Falle der Kenntniserlangung von einer konkreten Rechtsverletzung behalten wir uns die Entfernung oder Sperrung der betreffenden Inhalte und Informationen vor.</p>
<h4>2. Haftung für externe Links</h4>
<p>Unsere Webseite enthält Verknüpfungen zu weiteren Webseiten dritter Personen (externe Links). Wir weisen darauf hin, dass diese externen Links dem Handeln und der Haftung der jeweiligen Betreiber oder Diensteanbieter unterliegen und wir für den aktuellen und zukünftigen Inhalt und Gestaltung dieser externen Links nicht verantwortlich sind und hierfür keine Gewähr übernehmen. Wir distanzieren uns ausdrücklich als Anbieter des externen Links ausdrücklichen von den Inhalten dieser externen Links. Wir haben bei der erstmaligen Zurverfügungstellung der externen Links keine Rechtsverstöße der fremden Inhalte feststellen können. Eine dauerhafte Überwachung der zur Verfügung gestellten Inhalte und Gestaltung auf den externen Links ist uns ohne konkrete Kenntniserlangung einer Rechtsverletzung nicht zumutbar. Bei Kenntniserlangung von Rechtsverletzungen auf externen Links, werden wir diese Verknüpfungen jedoch sofort löschen.</p>
<h4>3. Urheber- und Leistungsschutzrechte</h4>
<p>Die auf dieser Website veröffentlichten Inhalte sind durch die deutschen Urheber- und Leistungsschutzrechte geschützt. Will ein NutzerIn, Inhalte auf dieser Webseite, die dem deutschen Urheber- und Leistungsschutzrechte unterliegen und/oder deren Verwertung -auch außerhalb des Urheberrechts-) nicht zugelassen ist, nutzen, insbesondere vervielfältigen, bearbeiten, wiedergeben etc., muss er zuvor die schriftliche Zustimmung des jeweiligen Rechtsinhabers einholen. Wir haben Inhalte und Rechte Dritter als solche gekennzeichnet, soweit wir nicht selbst Rechteinhaber sind. Wir weisen darauf hin, dass das unerlaubte Kopieren dieser Webseiteninhalte oder der kompletten Webseite - außer durch unsere vorherige schriftliche Zustimmung bzw. diejenige des Rechteinhaber- nicht gestattet und strafbar ist.</p>

</div>
