<div class="order-successful">
<h2>Ihre Bestellung ist erfolgreich bei uns eingegangen.</h2>
<p>Wir werden uns in den nächsten 24 Stunden per Mail bei Ihnen melden.</p>
<p>Mit freundlichen Grüßen,</p>
<p>Ihr Ocafi Team</p>
</div>
