<%= render 'shared/our_coffees/carousel_farmers' %>
<%= render 'shared/our_coffees/text_about_our_coffee' %>

<%= render 'shared/our_coffees/index' %>

<% render 'shared/our_coffees/our_coffees' %>

<a class="button-learn-more" href="/farmers/new">New Farmer</a>

<%= render 'shared/follow_us_footer' %>



