<div class="order_item_container">
  <span class="header_for_table">Sample order</span>
  <table class="order_items_table">
    <thead>
      <tr>
        <th class="order_items_th_basic">Batch</th>
        <th class="order_items_th_basic">Farm</th>
        <th class="order_items_th_basic">Variety</th>
        <th class="order_items_th_basic">Packaging</th>
        <th class="order_items_th_basic">Bags</th>
        <th class="order_items_th_basic">Unit Price</th>
        <th>     </th>
      </tr>
    </thead>
    <% @order_items.each do |order_item| %>
      <% if order_item.sample == true %>
        <%= render "cart_sample_items_row", order_item: order_item %>
      <% else %>
      <% end %>
    <% end %>
  </table>
</div>
