<div class="order_item_container">
  <span class="header_for_table">Spot-list Bestellung</span>
  <table class="order_items_table">
    <thead>
      <tr>
        <th class="order_items_th_basic">Referenz</th>
        <th class="order_items_th_basic">Fazenda</th>
        <th class="order_items_th_basic">Sorte</th>
        <th class="order_items_th_basic">Menge</th>
        <th class="order_items_th_basic">Säcke</th>
        <th class="order_items_th_basic">Stückpreis</th>
        <th>     </th>
      </tr>
    </thead>
    <% @order_items.each do |order_item| %>
      <% if order_item.quantity > 0 %>
        <%= render "order_items_row", order_item: order_item %>
      <% else %>
      <% end %>
    <% end %>
  </table>
</div>


