<div class="banner-about-us">
  <div class="image-about-us">
    <div class="banner-about-us-text">
      <span>Not only do we sell great coffee! We are also awesome people!</span>
    </div>
  </div>
</div>
