<div class="image_wrapper">
  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 image_home">
        <div class="style_luis_image first"></div>
      </div>
      <div class=" col-md-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">The Brasilian</h3>
            <h4>Luis Paulo Guardabaxo</h4>
            <p>A fucking legend born in the wild Rio Pardo in the outbacks of Brasil. Born and raised in coffee bushels, playing with tigers and drinking 2 liters of the finest coffees a day.
            </p>
            <a class="fab fa-linkedin-square linkedin_style" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/luis-paulo-guardabaxo/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 col-md-push-6 content_home">
        <div class="style_niklas_image"></div>
      </div>
      <div class="col-md-6 col-md-pull-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">The German</h3>
            <h4>Niklas Kuegler</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis pariatur id quas impedit qui vero eius, facilis rem et.
            </p>
            <a class="fab fa-linkedin-square linkedin_style" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/niklas-kuegler-043106a0/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
