<div class="image_wrapper">
  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 image_home">
        <div class="style_img_about_us">
          <div class="style_luis_image first">
          </div>
            <p>"Ich liebe Kaffee und habe die Vision, den Anbau in Brasilien weiter zu verbessern."</p>
        </div>
      </div>
      <div class=" col-md-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle about-us-text-size">
            <h3 style="margin: 0; padding: 0;">Luis Paulo Guardabaxo</h3>
            <h4>Aus São José do Rio Pardo</h4>
            <p>Bereits im frühen Alter kam Luis mit dem Thema Kaffee in Berührung und entwickelte eine starke Passion. Heute managed er eine der fünf Farmen der Familie und ist an konsequenter Qualitäts- und Transparenz Verbesserung interessiert.
            </p>
            <a class="fab fa-linkedin-square linkedin_style" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/luis-paulo-guardabaxo/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image_section">
    <div class="image_section_content row">
      <div class="col-md-6 col-md-push-6 content_home">
        <div class="style_img_about_us">
          <div class="style_niklas_image first">
          </div>
            <p>"Als Kaffeeliebhaber ging für mich ein Traum in Erfüllung zusammen mit Luis an dem Projekt Ocafi arbeiten zu dürfen."</p>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6 container-text-content">
        <div class="vertical-align-wrap">
          <div class="vertical-align vertical-align--middle">
            <h3 style="margin: 0; padding: 0;">Niklas Kügler</h3>
            <h4>Aus Freiburg im Breisgau</h4>
            <p>Selbst ein großer Kaffeefreund entwickelte er mit Luis zusammen ein Konzept um brasilianischen Kaffee weiter zu verbessern und den brasilianischen Spezialitätenkaffees eine größere Plattform zu liefern. .
            </p>
            <a class="fab fa-linkedin-square linkedin_style" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/niklas-kuegler-043106a0/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
