<div class="container-text-content">
  <div class="text_mission_statement">
    <div class="text-mission-statement-padding">
      <div class="mission_statement_box">
        <p>We have made it our mission to put the farmer and the roasters into the center of our business. We want to give you the best experience buy fari, tracable coffees that tell a stroy from a company that cares for you. Bla Bla Bla</p>
        <p class="text-right">Luis & Niklas</p>
      </div>
    </div>
  </div>
</div>

