<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi">
      <h3>Ocafi Trading</h3>
      <h2>The Team</h2>
      <p>Passionate about speciality coffee we have made it our mission
      to promote only the best brazilian coffees in Europe. Our strong
      roots into the farming scene in Brazil gives us the unique
      possibility to source only the best coffees for you.</p>
    </div>
  </div>
</div>

