<div class="container-text-content">
  <div class="text_below_carousel_basics">
    <div class="text-padding-ocafi">
      <h2>Das Team</h2>
      <p>Begeistert von Kaffee haben wir es uns zur Aufgabe gemacht, brasilianische Spezialitätenkaffees direkt in Deutschland zu vermarkten, um so die Qualität im Ursprungsland weiter zu verbessern. Luis' Familie baut seit 2003 auf insgesamt 5 Farmen in der Mogiana Region Kaffees an (Spezialitäten, Fine-Cup, Kommerziell) und hält engen Kontakt zu vielen Farmern der Region. Oft als Ursprungsland für Massenproduzierten Kaffee abgestempelt, lassen sich in Brasilien hervorragende Kaffees finden, die es verdient haben weltweit Kaffeegenießer zu verzaubern.</p>
    </div>
  </div>
</div>

