.sportlist {
}

.background-color-th {
  background-color: red;
  padding-right: 10px;
}

.coffee-index-container {
  display: flex;
  margin-bottom: 20px;

}

.coffee-index-section {
  width: 33.3333%;
  border: 1px solid black;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.facts-p-margins {
  margin-bottom: 3px;
}

.coffee-shop-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.pricing-span-style {
  padding-right: 20px;
}
