// Cards about us

.style_luis_image {
  height: 100%;
  width: 100%;
  background-image: image-url("luis.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s;
}

.style_img_about_us{
  height: 420px;
  width: 100%;
  position: relative;

  @media (max-width: 1400px) {
    height: 370px;
  }

  @media (max-width: 1000px) {
    height: 320px;
  }
}

.style_luis_image:hover {
  filter:blur(2px) brightness(40%);
}

.style_img_about_us p {
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.style_img_about_us:hover p {
  opacity: 1;
}


.style_niklas_image {
  height: 100%;
  width: 100%;
  background-image: image-url("niklas.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s;
}

.style_niklas_image:hover {
  filter:blur(2px) brightness(40%);
}

.linkedin_style {
  color: $gray-corporate;
  font-size: 40px;
  text-decoration: none;
}

// Mission statement

 .text_mission_statement {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 7%;
  word-wrap: normal;

  @media (max-width: 688px) {
    margin-bottom: 15%;
  }

  @media (max-width: 1200px) {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media (max-width: 750px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (max-width: 440px) {
    padding-left: 5%;
    padding-right: 5%;
  }

}

.mission_statement_box {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: $beige;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.text-right {
  text-align: right;
  padding-right: 1%;
}

.about-us-text-size {

  h3 {
    @media (max-width: 1200px) {
      font-size: 25px;
    }
  }

  h4 {
    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  p {
    @media (max-width: 1200px) {
      font-size: 16px;
    }

    @media (max-width: 750px) {
      font-size: 14px;
    }
  }
}

