.button-learn-more {
    margin-top: 3%;
    height: 27px;
    border: 1px solid #000000;
    background-color: #f0e7d9;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: $black;
    opacity: 1;

}

.create-new-container {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 5%;
}

.button-creat-new {
  margin-top: 3%;
  height: 27px;
  border: 1px solid #000000;
  background-color: #f0e7d9;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $black;
  opacity: 1;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: $gray-corporate;

  }
}

.button-learn-more-about-farm {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.banner-p {
  p a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
  }

  p a:hover {
    color: white;
  }

  a.effect-underline:after {
  color: white;
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  }

  a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
