.devise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);

}

.devise-content-container {
  background-color: white;
  padding: 3%;
  padding-right: 5%;
  padding-left: 5%;
  opacity: 0.98;
}

.image-devise {
  background-image: image-url("alianca1.jpg");
  filter: grayscale(40%);
  background-size: cover !important;
  position: relative;
  background-position: center;
}

.form-button {
  height: 50px;
  width: 100px;
  background-color: gray;
  color: white;
  border-radius: 3px;
  margin-bottom: 2%;
}

.form-button-big {
  width: 320px;
}

.btn:hover, .btn:focus, .btn.focus {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
