.follow_us_basics {
  background-color: $beige;
  width: 100%;
  text-align: center;
  margin: 0;
}

.follow_us_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.folow_us_newsletter {
  height: 275px;
  text-align: left;

  p {
    margin: 0;
    font-size: 14px;
    padding-left: 3%;
  }
}

.follow_us_links {
  margin-bottom: 15px;
  width: 100%;

  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;

}

.follow-us-inner {
  width: 120px;
  display: flex;
}

.icon_style {
  color: $gray-corporate;
  font-size: 60px;
}

.follow-us-p {
  width: 60px;
  a:hover, a:focus {
    text-decoration: none;
    color: gray;
  }
}


#send-btn {
  border: 0;
  background: $gray-corporate;
  color: white;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
  &:hover {
    background: gray;
  }
}

#input-newsletter {
  padding-right: 0;
  margin-right: 0;
  text-align: center;
  padding: 2px;
}

.logo-sizing {

  @media (min-height: 600px) {
    height: 175px;
  }

  height: 40vh;
  margin-top: 15px;
  margin-bottom: 10px;

}

.follow_us_section_newsletter {
  height: 275px;
  padding: 0;
}

.vertical-align-wrap-newsletter {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align-newsletter {
  background: white;
  display: table-cell;
  height: 100%;
  background-color: $beige;
}

.vertical-align--middle-newsletter {
  vertical-align: middle;

}
