.follow_us_basics {
  background-color: $beige;
  width: 100%;
  height: 60vh;
  text-align: center;
  max-height: 369px;
}

.follow_us_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.follow_us_links {
  padding-bottom: 2%;
}

.icon_style {
  color: $gray-corporate;
  font-size: 60px;
}

.input-newsletter-style {
  label {

  }
  input {

  }
}

#send-btn {
  border: 0;
  background: $gray-corporate;
  color: white;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
  &:hover {
    background: gray;
  }
}

#input-newsletter {
  padding-right: 0;
  margin-right: 0;
  text-align: center;
  padding: 2px;
}

.logo-sizing {

  @media (min-height: 600px) {
    height: 30vh;
  }

  height: 40vh;
  padding-top: 2%;


}
