.image_wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.image_section {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 7%;

  @media (max-width: 688px) {
    margin-bottom: 15%;
  }

}

.image_section_content {
  margin: 0 auto;
  width: 100%;

}

.image_home {
  padding: 0;
}

.content_home {
  padding: 0;
}

//First content container images and text
.style_first_image {
  height: 50vh;
  width: 100%;
  background-image: image-url("themovement.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 720px) {
    height: 300px;
  }
}

.content_button {
  margin-top: 3%;
  height: 27px;
  width: 160px;
  border: 1px solid $gray;
  background-color: $beige;
  text-align: center;

}

// fix aspect ratio to always have squares

// no longer needed

// #content{
//   height: auto;
//   padding: 0;
// }

// #content div{
//   height: auto;
//   position: relative;
//   text-align: center;
//   padding: 18.75% 0 0;
// }

// #content p{
//   width: 90%;
//   left: 5%;
//   padding: 10px;
//   position: absolute;
//   color: white;
//   font-size: 1.6em;
//   border: 1px solid white;
//   border-radius: 5px;
//   bottom: 50px;

// }





// Text content in boxes

//Container for content are responsive

.container-text-content {
  text-align: center;
  height: 50%;
  padding-right: 0%;
  padding-left: 0;
}

.vertical-align-wrap {
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align {
  background: white;
  display: table-cell;
  height: 50vh;
  padding-left: 6vw;
  padding-right: 6vw;
  background-color: $beige;
}

.vertical-align--middle {
  vertical-align: middle;
}


// .style_first_content {
//   height: 500px;
//   width: 100%;
//   background-color: $beige;
//   padding-left: 15%;
//   padding-right: 15%;
//   text-align: center;
//   padding-top: 24%;

//   @media (max-width: 720px) {
//     height: 320px;
//     padding-top: 5%;
//     font-size: 12px;
//   }
// }


