.datenschutz-wrapper {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;

  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  @media (max-width: 1200px) {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media (max-width: 750px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (max-width: 440px) {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 12px;
  }
}
