.text_below_carousel_basics {
  text-align: center;
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  word-wrap: normal;
}

//Add an attribute to center the whole div later without it sticking to the left
//Adjust spacing correctly
