table {
  width: 80%;
  margin: auto;
}

th {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

td {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: white;
}

tr {
  background-color: $beige;
}
