.vertical-align-link-a-spotlist {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 41px;


  @media (max-width: 750px) {
    padding-left: 35px;
    padding-right: 36px;
  }

  @media (max-width: 440px) {
    padding-left: 25px;
    padding-right: 27px;
  }

}

.spotlist-a {
  a:hover, a:focus {
    text-decoration: none;
  }
}

.popup-container-country {

  z-index: 2;
  height: 100%;
  word-wrap: break-word;

  .center-heading {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
  }


  .link-box-spotlist-popup {
    //width: 100%;
    //height: 100%;
    height: 50px;
    padding-top: 13px;
    padding-left: 1px;
  }

  .button{
    //padding-left: 5px;
    //padding-right: 30%;
    //padding-top: 7px;
    //padding-bottom: 7px;
    font-size: 16px;
    font-weight: 500;
    color: $gray-corporate;
    background-color: orange;
    text-decoration: none;
    justify-content: space-around;
    word-wrap: break-word;
  }

  .button:hover {
    background: $orange;
    color: white;
    }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    word-wrap: break-word;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 9;

  }

  .popup {
    margin-bottom: 70px;
    margin: 70px auto;
    padding: 20px;
    border-color:black;
    border-color:black;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    color: $gray;
    font-size:18px;
    border-bottom:solid 1px black;
    word-wrap: break-word;
    background-color: white;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    //background-image: image-url("arte2.jpg");
    //background-position: center center;
    //background-repeat: no-repeat;
    //background-size: cover;

    @media (max-width: 750px) {
      width: 70%;
    }

    @media (max-width: 440px) {
      width: 90%;
    }

  .center-heading{
    color:black;
    font-size:bold;
    border-bottom:solid 1px black;
    word-wrap: break-word;
  }

  //Heading for popup

  .popup-heading {
    @media (max-width: 520px) {
      span {
        font-size: 22px;
      }
    }
  }

  span{
   top:10px;
   color:black;
   font-size:bold;
   word-wrap: break-word;
  }

  ul {
    padding-left: 0;
    font-size: 14px;
    z-index: 2;

  }

  .top {
      height: 160px;
    }

  li {
    display: flex;

    .cup_description {
      White-space: initial;
      width: 200px;
    }
  }

  .technical-info-popup {
    width: 100px;
  }

  }

  .span h2 {
   margin-top: 10px;
   color: $gray;
   font-family: Tahoma, Arial, sans-serif;
   word-wrap: break-word;

  }

  .popup .close {
    padding: 0;
    position: absolute;
    top: 8px;
    right: 20px;
    transition: all 600ms;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: $gray;
    word-wrap: break-word;
  }

  .popup .close a {
    background-color: white;
  }

  .popup .close:hover {
    color: $gray;
  }
}

.popup-container-country #popup1 .popup .popup-farm-description {
  color: black;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: none;
  overflow-x: none;
  word-break:break-all;
}

.content-farm {
  White-space: initial;
  font-size: 14px;
  padding-top: 5px;
}

.bag_amount {
  display: flex;

  span {
    line-height: 40px;
    margin-left: 10px;
    font-size: 14px
  }
}

.number_field_bags {
  width: 55px;
  border: gray 1px solid;
  padding-left: 5px;
  height: 40px;
}

.sample_wanted {
  margin-top: 5px;
  height: 50px;
  line-height: 50px;
  display: flex;
  padding-top: 10px;
  padding-left: 30px;

  span {
    line-height: 34px;
    margin-left: 10px;
    font-size: 14px;
  }

}

.regular-checkbox {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
  margin-top: 11px;
  margin-left: 5px;

}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #99a1a7;
}

.button-order-input-group {
  margin-top: 5px;
}

.button-order-input-padding {
  padding-left: 35px;
  padding-right: 35px;
}




